/* :root[data-theme="light"] {
  --text: #000405;
  --background: #89cfeb;
  --primary: #cbc4c2;
  --secondary: #d0d6d7;
  --accent: #766865;
}
:root[data-theme="dark"] {
  --text: #fafeff;
  --background: #145a76;
  --primary: #3d3634;
  --secondary: #282e2f;
  --accent: #9a8c89;
} */
@import url("https://fonts.googleapis.com/css?family=Pixelify Sans:700|Pixelify Sans:400");
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,500;1,100;1,600&display=swap');

:root {
    --text: #000405;
    --background: #89cfeb;
    --primary: #cbc4c2;
    --secondary: #d0d6d7;
    --accent: #766865;
}

#tsparticles {
    z-index: -2;
    width: 100%;
    height: 100vh;

}

#information-container {
    z-index: 0;
    height: 5vw;
    position: absolute;
    top: 0%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
}

#information>h1 {
    font-size: 9rem;
}


#information {
    color: var(--text);
    margin: 0;
    padding: 2% 5%;
    text-align: center;
    /* font-family: "Pixelify Sans", sans-serif; */
    /* font-family: "Urbanist", "Pixelify Sans", sans-serif; */
    /* transition: all 1s; */
    font-size: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    filter: drop-shadow(0px 10px 4px var(--accent));
}


#background {
    z-index: -3;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgb(52, 144, 248); */
    background-color: var(--background);
}

.about-me {
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects-section {
    max-width: 940px;
    margin: 0 auto;
    z-index: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    grid-auto-rows: minmax(100px, auto);
    padding: 5%;
    width: 100%;
    height: 100vh;
    filter: drop-shadow(0px 4px 4px var(--accent));
}


.column-1 {
    color: var(--text);
    padding: 2% 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column: 1 / 2;
    grid-row-start: 2;
    /* width: 50%; */
    height: 50%;
    text-align: center;
    /* background-color: var(--primary); */
}

.column-2 {
    color: var(--text);
    padding: 2% 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column: 2 / 2;
    grid-row-start: 2;
    /* width: 50%; */
    height: 50%;
    /* background-color: var(--accent); */
}

.projects-holder {
    text-align: center;
    /* width: 50%; */
}

.title {
    font-size: 1em;
    text-align: center;
}

.contact {
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    filter: drop-shadow(0px 4px 4px var(--accent));
    background-color: transparent;
}

.profile-link {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contact-link {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
}